/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

/*  root styles*/
:root {
    --color-primary: rgba(254, 163, 1, 1);
    --color-accent: rgba(1, 172, 253, 1);
    --text1: rgba(5, 212, 223, 1);
    --text2:  rgba(255, 255, 255, 1);;
    --text3: #8700FF;
    --bg1: rgba(60, 216, 232, 1);
    --bg2: rgba(149, 178, 38, 1);
    --bg3: rgba(93, 88, 240, 1);
    --bg4: rgba(17, 17, 17, 1);
    --gradient-1: linear-gradient(180.00deg, rgba(238, 225, 255, 1), rgba(255, 255, 255, 0) 40%);
    --gradient-2: linear-gradient(180.00deg, rgba(255, 244, 220, 1), rgba(255, 255, 255, 0) 40%);
    --gradient-3: linear-gradient(180.00deg, rgba(222, 245, 255, 1), rgba(255, 255, 255, 0) 40%);
    --gradient-4: linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);

}


/* shared styles */
.display-flex {
    display: flex;
}

.btn {
    background-color: var(--bg4);
    padding: 10px 40px;
    color: var(--text2);
    font-size: 1.4rem;
    font-weight: 700px;
    border: none;
    border-radius: 12px;
}

.title {
    font-size: 3rem;
    padding-top: 60px;
    padding-bottom: 80px;
}


/* navbar section style */
.nav-container {
    justify-content: space-between;
    align-items: center;
    margin: 20px 140px;
}

.scl-logo {
    align-items: center;
    gap: 10px;

}

.scl-logo .scl-name {
    color: #0378a7;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2rem;
}

.menu {
    gap: 32px;
}

.menu a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
}

.menu .home {
    color: var(--color-primary);
}

.menu .about {
    color: var(--color-accent);
}

.menu .facili {
    color: var(--text1);
}

.menu .admis {
    color: var(--bg3);
}

.bars {
    display: none;
    font-size: 2rem;
    color: var(--color-accent);
}

.conct-btn {
    background-color: var(--color-primary);
    color: var(--text2);
    padding: 10px 60px;
    border-radius: 12px;
    font-size: 1.4rem;
    font-weight: 600;
    border: none;
}

/* banner section style */
.banner-container {
    margin: 20px 140px;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 640px;

}

.banner-title {
    font-size: 4rem;
}

.banner-description {
    font-size: 1.4rem;
    color: var(--bg4);
    margin: 24px 0;

}

/* standard curriculum  style*/
.standard-container {
    background-image: url(../assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

}

.cards-item {
    justify-content: center;
    gap: 28px;
    margin: 0 140px;

}

.kinder {
    border: 0.94px solid rgba(222, 245, 255, 1);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.29578971862793px 0.94px rgba(0, 0, 0, 0.05);
    background: var(--gradient-3);
}

.kinder img,
.elementary img,
.middle img {
    padding: 50px 115px 32px;

}

.card-title {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 30px;


}

.card-description {

    color: rgba(128, 128, 128, 1);
    font-size: 1rem;
    font-weight: 500;
    line-height: 28px;

}


.kinder-btn,
.elementary-btn,
.middle-btn {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 50px;
    border: none;
    background: none;
}

.kinder-btn {
    color: var(--color-accent);
}

.elementary {
    border: 0.94px solid rgba(255, 244, 220, 1);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.29578971862793px 0.94px rgba(0, 0, 0, 0.05);
    background: var(--gradient-2);
}

.elementary-btn {
    color: var(--color-primary);
}

.middle {
    border: 0.94px solid rgba(242, 232, 255, 1);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.29578971862793px 0.94px rgba(0, 0, 0, 0.05);
    background: var(--gradient-1);
}

.middle-btn {
    color: var(--text3);
}

.card-btn {
    margin: 80px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.gatterthan-btn,
.lessthan-btn {
    background-color: var(--color-primary);
    color: var(--text2);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    border: none;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    cursor: pointer;

}

/* our stories section styles */
.stories-container {
    background-image: var(--gradient-4), url(../assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.stories-grid {
    margin: 0 140px;
    display: grid;
   grid-template-columns: repeat(12,1fr);
   grid-template-rows: repeat(2,1fr);
   gap: 20px;
}

.large-card{
    grid-column: 1/ span 6;
    grid-row: 1/ span 2;
   border-radius:16px ;
background-color: var(--text2);
 position: relative;
}

.school-fits{
   grid-column: 7/ span 9;
   grid-row: 1/ span 1;
}

.summer-math{
   grid-column: 10/ span 12;
   grid-row: 1/ span 1;

} 

.new-tutors{
      grid-column:7/ span 9 ;
    grid-row: 2/ span 2;
}

.kids-listening{
    grid-column: 10/ span 12;
    grid-row: 2/ span 2;
}

.large-card img{
    width: 100%;
    object-fit: cover;
   border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.story-title {
    width: 402px;
    text-align: left;
    margin: 38px 98px 0 35px;
    font-size: 1.5rem;
}

.story-desc {
    width: 433px;
    margin: 47px 68px 34px 38px;
    color: rgba(102, 102, 102, 1);
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.76px;
    text-align: left;
}


.story-card{
    background-color: var(--text2);
    border-radius: 16px;
   
}

.story-card img{

   border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}


.story-date{
    display: block;
   
}


/* footer section styles */
footer{
 background-color: var(--color-accent);
}
.footer-container{
   margin: 0 140px;
   justify-content: space-between;
   padding:123px 0  174px 0;
   color: var(--text2);
}

.footer-container> div{
    width: 400px;
}

.footer-logo{
    align-items: center;
    color: var(--text2);
     
}

.footer-logo .footer-title{
    width: 200px;
    font-size: 2.7rem;
   
}
.footer-logo>img{
width: 82.9px;
height: 81.65px;
}

.footer-desc{
    color: var(--text2);
font-size: 1.4rem;
font-weight: 400;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
margin-top: 35px;
}

.about-title{
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 100%;
    margin-bottom:12px ;
}

.footer-menu a{
    display: block;
    text-decoration: none;
    color: var(--text2);
    font-weight:500 ;
    line-height: 100%;
    padding-top: 20px

}

.icon-title{
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: 32px;
}





.display-hide{
    display: none;
}


