/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: "Quicksand", sans-serif;
}

/*  root styles*/
:root{
    --color-primary:rgba(254, 163, 1, 1) ;
    --color-accent:rgba(1, 172, 253, 1);
    --text1:rgba(5, 212, 223, 1);
    --text2:white;
    --text3:#8700FF;
    --bg1:rgba(60, 216, 232, 1);
    --bg2: rgba(149, 178, 38, 1);
    --bg3: rgba(93, 88, 240, 1);
    --bg4:rgba(17, 17, 17, 1);
    --gradient-1:linear-gradient(180.00deg, rgba(238, 225, 255, 1),rgba(255, 255, 255, 0) 40%);
    --gradient-2:linear-gradient(180.00deg, rgba(255, 244, 220, 1),rgba(255, 255, 255, 0) 40%);
    --gradient-3:linear-gradient(180.00deg, rgba(222, 245, 255, 1),rgba(255, 255, 255, 0) 40%);
    --gradient-4:linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);

}


/* shared styles */
.display-flex{
    display: flex;
}



/* navbar section style */
.container{
    justify-content:space-between ;
    align-items: center;
    margin: 20px 140px;
}
.scl-logo{
    align-items: center;
    gap: 10px;
  
}

.scl-logo .scl-name{
    color: #0378a7;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2rem;
}  

.menu{    
     gap: 32px;
}

.menu a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500; 
}

.menu .home{
    color: var(--color-primary);
}

.menu .about{
    color: var(--color-accent
    );
}

.menu .facili{
    color: var(--text1);
}

.menu .admis{
    color: var(--bg3);
}

.bars{
      visibility: hidden;
}

.conct-btn{
    background-color: var(--color-primary);
    color: var(--text2);
    padding: 10px 60px;
    border-radius: 12px;
    font-size: 1.4rem;
    font-weight: 600;
    border:none;
}