/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

/*  root styles*/
:root {
    --color-primary: rgba(254, 163, 1, 1);
    --color-accent: rgba(1, 172, 253, 1);
    --text1: rgba(5, 212, 223, 1);
    --text2: white;
    --text3: #8700FF;
    --bg1: rgba(60, 216, 232, 1);
    --bg2: rgba(149, 178, 38, 1);
    --bg3: rgba(93, 88, 240, 1);
    --bg4: rgba(17, 17, 17, 1);
    --gradient-1:linear-gradient(180.00deg, rgba(238, 225, 255, 1), rgba(255, 255, 255, 0) 40%);
    --gradient-2:linear-gradient(180.00deg, rgba(255, 244, 220, 1), rgba(255, 255, 255, 0) 40%);
    --gradient-3: linear-gradient(180.00deg, rgba(222, 245, 255, 1), rgba(255, 255, 255, 0) 40%);
    --gradient-4: linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);

}


/* shared styles */
.display-flex {
    display: flex;
}

.btn {
    background-color: var(--bg4);
    padding: 10px 40px;
    color: var(--text2);
    font-size: 1.4rem;
    font-weight: 700px;
    border: none;
    border-radius: 12px;
}

.title {
    font-size: 3rem;
    padding-top: 60px;
    padding-bottom: 80px;
}

/* navbar section style */
.nav-container {
    justify-content: space-between;
    align-items: center;
    margin: 20px 140px;
}

.scl-logo {
    align-items: center;
    gap: 10px;

}

.scl-logo .scl-name {
    color: #0378a7;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2rem;
}

.menu {
    gap: 32px;
}

.menu a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
}

.menu .home {
    color: var(--color-primary);
}

.menu .about {
    color: var(--color-accent);
}

.menu .facili {
    color: var(--text1);
}

.menu .admis {
    color: var(--bg3);
}

.bars {
    display: none;
    font-size: 2rem;
    color: var(--color-accent);
}

.conct-btn {
    background-color: var(--color-primary);
    color: var(--text2);
    padding: 10px 60px;
    border-radius: 12px;
    font-size: 1.4rem;
    font-weight: 600;
    border: none;
}

/* banner section style */
.banner-container {
    margin: 20px 140px;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 640px;

}

.banner-title {
    font-size: 4rem;
}

.banner-description {
    font-size: 1.4rem;
    color: var(--bg4);
    margin: 24px 0;

}

/* standard curriculum  style*/
.standard-container {
    background-image: url(../assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.cards-item {
    gap: 28px;
    margin: 0 140px;
}

.kinder {
    border: 0.94px solid rgba(222, 245, 255, 1);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.29578971862793px 0.94px rgba(0, 0, 0, 0.05);
    background: var(--gradient-3);
}

.kinder img,
.elementary img,
.middle img {
    padding: 50px 115px 32px;

}

.card-title {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 30px;


}

.card-description {
  padding: 0 40px;
    color: rgba(128, 128, 128, 1);
    font-size: 1rem;
    font-weight: 500;
   line-height: 28px;
    text-align: center;
}


.kinder-btn,
.elementary-btn,
.middle-btn {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 50px;
    border: none;
    background: none;
}

.kinder-btn{
    color: var(--color-accent);
}

.elementary{
border:  0.94px solid rgba(255, 244, 220, 1);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.29578971862793px 0.94px rgba(0, 0, 0, 0.05);
    background:var(--gradient-2);
}
.elementary-btn{
    color: var(--color-primary);
}

.middle{
border:   0.94px solid rgba(242, 232, 255, 1);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.29578971862793px 0.94px rgba(0, 0, 0, 0.05);
    background: var(--gradient-1);
}
.middle-btn{
    color: var(--text3);
}

.card-btn{
    margin: 80px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.gatterthan-btn, .lessthan-btn{
    background-color: var(--color-primary);
    color: var(--text2);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    border: none;
    border-radius: 100%;
    width: 60px;
height: 60px;

}
